body  {
    margin: 0px;
    padding: 0px;
    background-color: #121212;
}

ul {
    list-style-type: none;
    background-color: #3a3a3a;
    border: solid 1px;
    border-top: none;
    border-color: #cccccc;
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 50px;
    align-items: center;
}

li a{
    text-decoration: none;
}

ul #etusivu  {
    margin-left: 50px;
    color: white;
}


ul #etsi {
    margin-left: 150px;
    width: 70%;
    height: 30px;

    
}

ul #nappi {
    margin-left: 70px;
}

h3{
    display: inline;
}

#teksti, #labeli{ 
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}



#suodata {
    color: white;

}

#suodata h1 {
    margin-top: 100px;
    margin: 100px auto 0 auto;
    text-align: center;
    border-bottom: solid 2px;
    border-color: #cccccc;
    width: 50%;
}

#flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: flex-start;
}

#leffa {
    display: flex;
    align-items: center;
    width: 535px;
    height: 50px;
    margin-top: 50px;
    margin-left: 250px;
    background-color: #3a3a3a;
    border: solid 1px;
    border-color: #cccccc;
    
}

#ohjelma {
    display: flex;
    align-items: center;
    width: 535px;
    height: 50px;
    margin-top: 50px;
    margin-right: 250px;
    background-color: #3a3a3a;
    border: solid 1px;
    border-color: #cccccc;
}

#footer {
    position: fixed;
    background-color: #3a3a3a;
    border: solid 1px;
    border-bottom: none;
    left: 0;
    bottom: 0;
    width: 99.9%;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
}