body  {
    margin: 0px;
    padding: 0px;
    background-color: #121212;
}
* {
    font-family: Arial;
}

ul {
    list-style-type: none;
    background-color: #3a3a3a;
    border: solid 1px;
    border-top: none;
    border-color: #cccccc;
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 50px;
    align-items: center;
}

li a{
    text-decoration: none;
    color: white;
    margin-left: 30px;

}

ul #etusivu  {
    margin-left: 50px;
    color: white;
    
}

h3{
    display: inline;
}

#teksti, #labeli{ 
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}



#suodata {
    color: white;
    width: 1150px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 100px;


}

#suodata h1 {
    margin-top: 100px;
    margin: 100px auto 0 auto;
    text-align: center;
    border-bottom: solid 2px;
    border-color: #cccccc;
    width: 50%;
}

#flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: flex-start;
}

#leffa {
    display: flex;
    padding: 18px 20px;
    margin-top: 50px;
    background-color: #3a3a3a;
    border: solid 1px;
    border-radius: 15px;
    border-color: #cccccc;
    
}
.hakuBtn {
    background-color: rgb(110, 110, 110);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
}
.hakuBtn:hover {
    background-color: rgba(110, 110, 110, 0.6);
}

#ohjelma {
    display: flex;
    padding: 18px 20px;
    margin-top: 50px;
    background-color: #3a3a3a;
    border: solid 1px;
    border-radius: 15px;
    border-color: #cccccc;
}

#footer {
    position: fixed;
    background-color: #3a3a3a;
    border: solid 1px;
    border-bottom: none;
    left: 0;
    bottom: 0;
    width: 99.9%;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.tulokset {
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: Arial;
    margin-bottom: 100px;   
}

.tulokset h4 {
    color: white;
    font-size: 25px;
}

.tulokset h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    display: none;
}
.tulokset h5 {
    color: white;
    font-size: 16px;
}
.tulokset img {
    display: block;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    margin: 0 auto;
}
.tulokset button{
    color: white;
    background-color: green;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
   
}

.leffaInfo h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.leffaInfo p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}